@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

* {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-weight: normal;
}

body {
  background: rgb(201, 201, 201);
  background: linear-gradient(0deg, rgba(201, 201, 201, 1) 0%, rgba(231, 231, 231, 1) 20%, rgba(255, 255, 255, 1) 100%);
}

header {
  font-size: 0.5em;
}

.pic {
  margin-bottom: 10px;
  transform: scale(0.5);

  :hover {
    filter: drop-shadow(16px 16px 10px black);
    transition: all 0.5s ease 0.1s;
  }

  :active {
    transform: scale(0.6);
    transition: transform 0.2s;
  }
}

.graphic {
  background: beige;

  .rectangle {
    stroke: navy;
    fill-opacity: 0.4;
    fill: navy;
  }

  .triangle {
    stroke: red;
    fill-opacity: 0.4;
    fill: red;
  }

  .quarter {
    stroke: green;
    fill-opacity: 0.4;
    fill: green;
  }

  svg {
    height: 300px;
    width: 300px;
  }
}
